body {
    width: 100%;
    height: 100%;
    background-image: url(https://th.bing.com/th/id/R.3b506a94dc4d86833756068fa0f8c320?rik=3ZMitxSYFp%2b1AQ&riu=http%3a%2f%2fwebneel.com%2fwallpaper%2fsites%2fdefault%2ffiles%2fimages%2f08-2014%2f1-black-wallpaper-pattern.1366.jpg&ehk=YqPFR5iEEUpXAJVXrVFLp0Ripmz8opq4crUb7to1qNg%3d&risl=&pid=ImgRaw&r=0);
}

#product-payment-details {
    color: white;
    text-align: center;
    margin-top: 50px;
}

.product-buy {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#product-disc {
    display: flex;
    flex-direction: column;
}

.description {
    font-size: 20px;
    color: white;
    font-weight: bold;
}

#pay-details {
    display: flex;
    flex-direction: row;
}

#product {
    width: 300px;
}

#label, #price {
    font-size: 20px;
    color: white;
}

#quantity {
    width: 30px;
    margin-left: 10px;
    margin-right: 10px;
    background-color: white;
    text-align: center;
    padding-top: 2px;
}

#add {
    margin-right: 5px;
    background-color: green;
    border: none;
    color: white;
}

#add:hover {
    cursor: pointer;
    background-color: rgb(0, 89, 0);
}

#add:active {
    background-color: rgb(0, 176, 0);
}

#subtract {
    margin-right: 10px;
    background-color: red;
    border: none;
    color: white;
    width: 20px;
}

#price {
    margin-right: 20px;
}

#product-price {
    background-color: white;
    width: 100px;
    text-align: center;
    padding-top: 2px;
}

.title {
    color: white;
    font-size: 40px;
}

#payment-form {
    margin-left: 30px;
}

.card-number {
    width: 300px;
    height: 30px;
    font-size: 20px;
    margin-bottom: 20px;
}

#month-validity {
    width: 200px;
    height: 30px;
}

.month {
    width: 100px;
    height: 50px;
}

#year-validity {
    width: 200px;
    height: 30px;
}

.year {
    height: 50px;
}

#cvv-validity {
    width: 50px;
    height: 30px;
    border: none;
}

#cvv-validity:focus {
    border-style: none;
}

#cvv-info {
    font-size: 17px;
    color: white;
}

#proceed-btn {
    width: 120px;
    height: 40px;
    font-size: 20px;
    text-decoration: none;
    background-color: yellow;
    border: none;
}

#proceed-btn:hover {
    background-color: rgb(200, 200, 0);
    cursor: pointer;
}

#proceed-btn:active {
    background-color: rgb(255, 255, 90);
}

@media only screen and (max-width: 390px) {
    .product-buy {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .product-disc {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    #pay-details {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        margin-left: 30px;
    }

    #quantity, #product-price {
        width: 100px;
        height: 20px;
        margin-bottom: 10px;
    }

    #payment-form {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 30px;
    }

    #proceed-btn {
        margin-bottom: 30px;
    }
}
